.StaticsDiv > h1 {
  font-size: 7vh;
  margin-left: 3vw;
  text-decoration: underline;
}

.StaticsDiv {
  color: rgb(255, 255, 255, 1);

  z-index: 10;

  width: 95vw;
  height: 75vh;

  position: fixed;

  top: 20vh;
  left: 2.5vw;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;

  justify-content: center;
  align-items: center;
}

.StaticsDiv > div {
  margin-left: 5vw;

  width: 85vw;
}

.StaticsDiv > div:not(:has(button)) {
  font-size: 3vh;
}

.StaticsDiv > div:has(button) {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  justify-content: center;
  align-items: center;
}

.StaticsDiv button {
  width: 70%;
  min-height: 6vh;

  margin-left: 15%;

  font-size: 3vh;
  font-weight: 350;

  border: solid white 1px;
  background-color: transparent;
  border-radius: 10px;

  color: white;

  transition: all 0.3s ease-in-out;
}

.StaticsDiv button:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}
