.routes > h1 {
  font-size: 7vh;
  margin-left: 3vw;
  text-decoration: underline;
}

.routeDiv > h2 {
  margin-left: 3vw;
  font-size: 5vh;
}

.response {
  margin-left: 7vw;
  margin-right: 7vw;
  /* min-height: 30vh; */
  padding: 1vh 1vw;
  min-width: 30vw;

  background-color: #121212;
}

.routeDiv > p {
  margin-left: 5vw;
  font-size: 3vh;
}

.response > p {
  font-size: 3vh;
  font-family: conso;
}

.staticDiv {
  z-index: 10;

  height: auto;

  padding: 1vh 3vw;
}

.RoutesContainer {
  padding: 1vh 3vw;
}

.staticDiv > h1,
.RoutesContainer > h1 {
  font-size: 7.5vh;
  text-decoration: underline;
}

.staticDiv > div {
  margin-left: 3vw;
}

.categoryContainer {
  margin-top: 20vh;

  z-index: 10;

  height: auto;
  min-height: 100vh;

  padding: 1vh 3vw;
}

.RespFormat > h1 {
  margin-left: 3vw;

  font-size: 7.5vh;
  text-decoration: underline;
}

.buttonDiv {
  min-height: 15vh;

  display: grid;

  /* sstify-content: center; */
  align-items: center;
  /* text-align: center; */

  padding: 0;
}

.buttonDiv button {
  width: 15vw;
  min-height: 6vh;

  font-size: 2.5vh;
  font-weight: 350;

  border: solid white 1px;
  background-color: transparent;
  border-radius: 10px;

  color: white;

  transition: all 0.3s ease-in-out;
}

.buttonDiv button:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

.staticDiv p {
  font-size: 3vh;
  font-weight: 300;
}

@media (max-width: 600px) {
  .categoryContainer p {
    font-size: 2.5vh;
  }
  .categoryContainer h1 {
    font-size: 4vh;
  }
  .categoryContainer h2 {
    font-size: 2.75vh;
  }

  .categoryContainer button {
    font-size: 2vh;
    width: 30.5vw;
  }

}