/* body {
  overflow: auto !important;
} */

.HomeDiv {
  object-fit: cover;

  width: 100vw;
  height: 100vh;

  background-color: black;

  position: absolute;
  top: 0;
  left: 0;
}

/* .HomeDiv img:first-child {
  object-fit: cover;

  width: 100%;
  height: 100%;

  opacity: 0.3;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 0;
} */

.wave {
  object-fit: cover;

  width: 100vw;

  opacity: 1;

  position: absolute;
  top: 60%;
  left: 0;

  z-index: 1;
}

.heading {
  /* z-index: 10; */
  color: rgb(255, 255, 255, 1);

  position: absolute;

  z-index: 2;

  width: 40vw;
  height: 20vh;

  top: 20%;
  left: 30vw;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;

  justify-content: center;
  align-items: center;
}

.heading > div {
  width: 100%;
  height: 100%;

  display: grid;
  justify-content: center;

  /* border: solid red 1px; */
  /* align-items: center; */
}

.heading h1 {
  font-size: 12vh;
  /* border: solid green 1px; */
}

.HomeDiv > div {
  width: 40vw;
  height: 20vh;

  text-align: center;
  vertical-align: middle;

  position: absolute;

  top: 30%;
  left: 30vw;
}

.HomeDiv h1 {
  font-size: 12vh;
}

.HomeDiv > div:has(p) {
  position: absolute;

  width: 80vw;
  height: 40vh;

  font-size: 3.5vh;

  top: 65%;
  bottom: 0;
  left: 10vw;

  z-index: 2;

  color: black;
}

@media (max-height: 900px) and (max-width: 1000px) {
  .wave {
    top: 60%;
  }

  .HomeDiv > div:has(p) {
    top: 65%;

    font-size: 3vh;
  }
}

@media (max-width: 650px) {
  .wave {
    top: 65%;
  }

  .HomeDiv > div:has(p) {
    font-size: 2.5vh;
  }
}

@media (max-width: 550px) {
  .wave {
    top: 70%;
  }

  .HomeDiv > div:has(p) {
    font-size: 2.2vh;
    top: 70%;
  }
}

@media (max-width: 450px) {
  .wave {
    height: 130vh;
    top: 65%;
  }

  .heading h1 {
    font-size: 10vh;
  }

  .heading h3 {
    font-size: 3vh;
  }

  .HomeDiv > div:has(p) {
    font-size: 2.2vh;
    top: 65%;
  }
}

@media (max-width: 400px) {
  .heading h1 {
    font-size: 8vh;
  }

  .heading h3 {
    font-size: 2.5vh;
  }
}

@media (max-width: 320px) {
  .heading h1 {
    font-size: 6vh;
  }

  .wave {
    height: 180vh;
    top: 53%;
  }

  .heading h3 {
    font-size: 2.5vh;
  }

  .HomeDiv > div:has(p) {
    font-size: 2.2vh;
    top: 55%;
  }
}
